DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin1234
DB_NAME=CENT_db
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin1234
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin1234
POSTGRES_DB=CENT_db
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin1234